.container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    font-family:'Franklin Gothic Medium';
    color: rgb(19, 7, 12);
} 
.column{
    flex:1;
    text-align: center;
    margin: 10px;
    background: rgb(204, 230, 244);
    border-radius: 8px;
    font-size: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.botton{
    font-size: 50px;
    color: rgb(98, 0, 179);
    background-color: rgb(255, 114, 159);
    cursor: pointer;
}
